.Rproj.user
.Rhistory
.RData
.Ruserdata
scripts/2019_pandalus_report.html
2019_pandalus_report.docx
2019_pandalus_report.html
2019_pandalus_report.pdf
the-journal-of-wildlife-management.csl
data/
output
